#card-front-container {
  position: absolute;
  background-image: url('../../images/bg-card-front.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 70%;
  width: 70%;
  z-index: 5000;
  bottom: -25%;
  left: 1rem;
}

@media screen and (min-width: 45em) { 
  #card-front-container {
    bottom: 0;
    left: 40%;
    
  }
}