//Colors
$primaryGradientFirst: hsl(249, 99%, 64%);
$primaryGradientSecond: hsl(278, 94%, 30%);
$primaryRed: hsl(0, 100%, 66%);

$neutralWhite: hsl(0, 0%, 100%);
$neutralGrayVioletLight: hsl(270, 3%, 87%);
$neutralGrayVioletDark: hsl(279, 6%, 55%);
$neutralVioletVeryDark: hsl(278, 68%, 11%);

//Typography

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

$primaryFontSize: 18px;
$font-stack: 'Space Grotesk'