@use 'variables';

// Utility Classes
.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.text-upper {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-white {
  color: variables.$neutralWhite
}

.justify-content-between {
  justify-content: space-between;
}

.p-1 {
  padding: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-3 {
  margin-top: 3rem;
}

.font-small {
  font-size: small;
}

.font-large {
  font-size: 28px;
}

.word-space {
  word-spacing: .3rem;
  
}

.letter-space {
  letter-spacing: .1rem;
}

body {
  font-size: variables.$primaryFontSize;
  font-family: variables.$font-stack;
}

p {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

input {
  padding: 0.75rem;
  color: variables.$neutralVioletVeryDark;
  font-weight: bold;
  font-size: large;
  margin: 0.5rem 0rem;
  border: 1px solid variables.$neutralGrayVioletLight;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

::placeholder {
  color: variables.$neutralGrayVioletLight;
}

label {
  font-size: small;
  color: variables.$neutralVioletVeryDark;
  letter-spacing: 0.1em;
  font-weight: bold;
  display: block;

}

label:after {
  content: ": "
}

#gradient-container {
  background-image: url('../images/bg-main-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  position: relative;
}

#card-back {
  background-image: url('../images/bg-card-back.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 70%;
  width: 70%;
  position: absolute;
  top: 15%;
  right: 0;
}

#cvc-text {
  position: absolute;
  right: 4rem;
  top: 33%;
}